{extend name="public/admin_public"} {block name="content"}
<div class="mdui-m-a-1 mdui-typo">
    <div class="mdui-col-xs-12 mdui-col-sm-6 mf-panel">
        <div class="mf-panel-hd">
            <h3>系统信息</h3>
        </div>

        <div class="mf-panel-bd" style="width:806px;">
            {if $privil=='-'}
            <ul style="width:370px;float: left">
                <li>动态新闻待审核 :<a href="/admin/froum.html?id=0">{$noAuditNews}</a> 条</li>
                <li>组织活动待审核 :<a href="/admin/Project.html?id=1">{$noAuditActiv}</a> 条</li>
            </ul>
            {else}
            <ul style="width:370px;float: left;">
                <li>已发布动态新闻 :<a href="/admin/froum.html">{$noAuditNews}</a> 条</li>
                <li>已发布组织活动 :<a href="/admin/Project.html">{$noAuditActiv}</a> 条</li>
            </ul>
            {/if}

        </div>
    </div>
    <div class="mdui-col-xs-12 mdui-col-sm-6 mf-panel" style="display:none;">
        <div class="mf-panel-hd">
            <h3>关于MlTree Forum</h3>
        </div>

        <div class="mf-panel-bd">
            <h2>MlTree Forum 1.0.0</h2>
            <ul>
                <li>主页：
                    <a href="https://forum.mltree.top">https://forum.mltree.top</a>
                </li>
                <li>Coding：
                    <a href="https://coding.net/u/Mllb_Kingsr/p/MlTree-Forum/">https://coding.net/u/Mllb_Kingsr/p/MlTree-Forum/</a>
                </li>
                <li>许可证：<a href="https://choosealicense.com/licenses/gpl-3.0/">GNU General Public License v3.0</a></li>
                <li>其他：
                    <a href="https://t.me/joinchat/Hewif0uvElMgVnAK_WrFJw
">https://t.me/joinchat/Hewif0uvElMgVnAK_WrFJw
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{/block}