{extend name="public/admin_public"} {block name="content"}
<style>  .pagination{display:-webkit-box;width:90%;}.pagination li{padding:5px;}</style>
<div class="mdui-m-a-1 mdui-typo mdui-table-fluid">

    <h1 class="mdui-m-l-3">志愿者管理</h1>
    <table class="mdui-table mdui-textfield mdui-table-hoverable">
        <thead>
        <tr>
            <th>#</th>
            <th>真实姓名</th>
            <th>电话号码</th>
            <th>详细地址</th>
            <th>email</th>
            <th>民族</th>
            <th>出生日期</th>
            <th>性别</th>
            <th>政治面貌</th>
          <!--  <th>服务类型</th>-->
            <th>证件类型</th>
            <th>证件号码</th>
            <th>最高学历</th>
            <th>从业状况</th>
            <th>服务时长</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='arrVolunteer' id='volu'}
        <tr id="{$volu.id}">
            <td>{$volu.id}</td>
            <td>{$volu.real_name}</td>
            <td>{$volu.phone}</td>
            <td>{$volu.address}</td>
            <td>{$volu.email}</td>
            <td>{$volu.nation}</td>
            <td>{$volu.brith}</td>
            <td>{$volu.gender}</td>
            <td>{$volu.political_affil}</td>
            <!--<td>{$volu.group}</td>-->
            <td>{$volu.card_type}</td>
            <td>{$volu.card}</td>
            <td>{$volu.education}</td>
            <td>{$volu.pract}</td>
            <td>{$volu.length_ser}</td>
            <td>{$volu.status}</td>
            <td>
                {if $privil=='-'}
                <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick ="editorForum('#{$volu.id}')">编辑</button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">删除</button>
                </div>
                {/if}
            </td>

        </tr>
        {/volist}
        </tbody>
    </table>

    <span style="float:left;line-height:34px;padding-left:10px;">总计录数:{$count}。</span>{if !$nopage}{$arrVolunteer|raw} {/if}
    <!--编辑-->
    <div class="mdui-dialog mdui-typo" id="editorForum">
        <div class="mdui-dialog-content">
            <div class="mdui-dialog-title">编辑成员</div>
            <form id="editForm" class="layui-form layui-form-pane mdui-m-y-1" lay-filter="formTest">
                <div class="layui-form-item">
                    <input type="hidden" name="id" id="editfid">
                    <label class="layui-form-label">成员姓名</label>
                    <div class="layui-input-block">
                        <input id="real_name" name="real_name" type="text" readonly="readonly" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">账号状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status"  value="1"  title="审核通过" />
                        <input type="radio" name="status"  value="0"  title="审核未通过"/>
                    </div>
                </div>

                <!--<div class="layui-form-item">
                   <label class="layui-form-label">报名权限</label>
                   <div class="layui-input-block">
                       <input type="radio" name="regist_auth"  value="1"  title="对外开放" />
                       <input type="radio" name="regist_auth"  value="0"  title="对内开放"/>
                   </div>
               </div>
              <div class="layui-form-item">
                   <label class="layui-form-label">控制器名称</label>
                   <div class="layui-input-block">
                       <input type="text" name="controller_name" required lay-verify="required" placeholder="请输入控制器名称" autocomplete="off" class="layui-input">
                   </div>
               </div>
               <div class="layui-form-item">
                   <label class="layui-form-label">方法名称</label>
                   <div class="layui-input-block">
                       <input type="text" name="action_name" required lay-verify="required" placeholder="请输入权限方法名称" autocomplete="off" class="layui-input">
                   </div>
               </div>-->
            </form>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" id="edit">保存</button>
        </div>
    </div>

</div>

{/block} {block name="js"}
<script>
    var form = '';
    layui.use('form', function(){

        form = layui.form;
        form.render('radio');
    });
    var $$ = mdui.JQ,
        data = '',
        inst = new mdui.Dialog('#editorForum');

    $$('#user').addClass('mdui-collapse-item-open');
    $$('#setAuth').addClass('mdui-list-item-active');

    // 编辑
    function editorForum(id) {
        var data = $$(id).find('td');
        var num1 =num2 = '0';
        $$('#editorForum [name="id"]').val(data[0].innerText);
        $$('#real_name').val(data[1].innerText);
        // $$('#editorForum [name="status"]').val(data[8].innerText);
        //$$('#editorForum [name="regist_auth"]').val(data[2].innerText);
        //  $$("[name="+name+"][value="+result.entity[name]+"]").prop('checked', true);
        {if $privil=='-'}
        $$('#editorForum [name="status"][value]').prop('checked', true);


        if (data[14].innerText=='志愿者会员')
            num1 = '1';
        form.val("formTest", { "status":num1 });
        {/if}
            $$('#editorForum [name="regist_auth"][value]').prop('checked', true);

            if (data[1].innerText=='对外开放')
                num2 = '1';

            form.val("formTest", { "regist_auth":num2 });

            inst.open();
        }
        // 保存
        $$('#edit').on('click', function () {
            data = $$('#editForm').serialize();
            $$.ajax({
                method: 'post',
                url: "/admin/index/editAccout",
                data: data,
                dataType: 'json',
                success: function (res) {

                    if (res.code == 0) {
                        mdui.snackbar(res.message, {
                            timeout: 2000,
                            position: 'top',
                            onClose: function () {
                                inst.close();
                            },
                            onClosed: function () {
                                location.reload();
                            }
                        })
                    } else {
                        mdui.snackbar(res.message, {
                            timeout: 2000,
                            position: 'top',
                            onClose: function () {
                                inst.close();
                            }
                        })
                    }

                }
            })

            return false;
        });
</script> {/block}