<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-menu'}">
            <i class="mdui-icon material-icons"><font color="#f0f8ff">menu</font></i>
        </a>
        <a href="/" class="mdui-typo-headline"><font color="#f0f8ff">湘西志愿者管理后台</font></a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon" onclick="location.reload()">
            <i class="mdui-icon material-icons"><font color="#f0f8ff">refresh</font></i>
        </a>

        <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#more'}">
            <i class="mdui-icon material-icons"><font color="#f0f8ff">more_vert</font></i>
        </a>
        <ul class="mdui-menu mdui-menu-cascade" id="more">
            <li class="mdui-menu-item">
                <a href="{:url('out')}" class="mdui-ripple">退出后台</a>
            </li>
        </ul>

    </div>
</header>



<div class="mdui-drawer" id="left-menu">
    <ul class="mdui-list mdui-collapse" id="collapse" mdui-collapse="{accordion:true}">

        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
            <div class="mdui-list-item-content">
                <a href="{:url('index/index')}">后台首页</a>
            </div>
        </li>

        <li class="mdui-collapse-item" id="sys">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
                <div class="mdui-list-item-content">志愿项目管理</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="{:url('addProject')}">
                    <li class="mdui-list-item mdui-ripple" id="addProject">添加志愿项目</li>
                </a>
                <a href="{:url('Project')}">
                    <li class="mdui-list-item mdui-ripple" id="Project">查看志愿项目</li>
                </a>
                <a href="{:url('enrollList')}">
                    <li class="mdui-list-item mdui-ripple" id="enroll">查看报名情况</li>
                </a>
                <!--<a href="{:url('set/baseMail')}">
                    <li class="mdui-list-item mdui-ripple" id="baseMail">设置</li>
                </a>-->
            </ul>
        </li>

        <li class="mdui-collapse-item" id="froum">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">forum</i>
                <div class="mdui-list-item-content">最新动态</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>


            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="{:url('addFroum')}">
                    <li class="mdui-list-item mdui-ripple" id="addFroum">添加动态</li>
                </a>
                <a href="{:url('froum')}">
                    <li class="mdui-list-item mdui-ripple" id="froumList">查看动态</li>
                </a>

            </ul>
        </li>

        <li class="mdui-collapse-item" id="user">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">group</i>
                <div class="mdui-list-item-content">管理员管理</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>


            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="{:url('adminAdminOrgs')}">
                    <li class="mdui-list-item mdui-ripple" id="setOrgs">团队组织结构</li>
                </a>

                <a href="{:url('volunteer')}">
                    <li class="mdui-list-item mdui-ripple" id="setAuth">志愿者管理</li>
                </a>

            </ul>
        </li>

    </ul>
</div>