{extend name="public/admin_public"} {block name="content"}
<div class="mdui-m-a-1 mdui-typo mdui-table-fluid">

    <h1 class="mdui-m-l-3">编辑志愿者项目</h1>
    <div class="mdui-dialog-content">
    <form id="addForm" class="layui-form layui-form-pane mdui-m-y-1" lay-filter="formTest">
        <div class="layui-form-item">
            <label class="layui-form-label">项目标题</label>

            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" value="{$info.title}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目摘要</label>
            <div class="layui-input-block">
                <input type="text" name="summary" required lay-verify="required" value="{$info.summary}" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">招募时间</label>

            <div class="layui-input-block">
                <input type="text" name="recruit_time" id="recruit_time" required lay-verify="required"   autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">活动时间</label>

            <div class="layui-input-block">
                <input type="text" name="activity_time" id="activity_time" required lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--<div class="layui-form-item">
            <label class="layui-form-label">服务类型</label>
            <div class="layui-input-block">
                <select name="service_id" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="1">礼义服务</option>
                    <option value="2">文明创建宣传</option>
                    <option value="3">健康义诊</option>
                    <option value="4">爱心助学</option>
                    <option value="5">心理咨询</option>
                    <option value="6">疫情防控</option>
                    <option value="7">应急救援</option>
                </select>
            </div>
        </div>-->

        <div class="layui-form-item">
            <label class="layui-form-label">招募人数</label>

            <div class="layui-input-block">
                <input type="text" name="recruit_num" required lay-verify="required" value="{$info.recruit_num}"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">报名权限</label>
            <div class="layui-input-block">
                <select name="regist_auth" lay-verify="required">
                    <option >请选择</option>
                    <option value="0">内部人员开放</option>
                    <option value="1">外部人员开放</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">地区</label>
            <div class="layui-input-block">
                <select name="area" lay-verify="required">
                    <option >请选择</option>
                    <option value="2">州直单位</option>
                    <option value="3">州社会团体</option>

                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">项目内容</label>
            <div class="layui-input-block">
                <textarea id="artcontent" class="layui-textarea" ></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目封面</label>
            <div class="layui-input-block">
                <button type="button"  class="layui-btn" id="upimage">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <input type="hidden" name="image" id="imageurl" value="{$info.image}" >
            </div>
        </div>
        <div class="layui-form-item">
            <div id="img" class="layui-input-block" >
                <img src="{$info.image}">
            </div>
        </div>
        <div class="layui-form-item">
                <center>
                <button class="layui-btn"  lay-submit lay-filter="formSubmit">提交志愿项目</button></center>
        </div>
    </form></div>

</div>

{/block} {block name="js"}
<script>

    var $$ = mdui.JQ

    layui.use(['layedit','form','upload','laydate'], function(){
         form = layui.form;

        layedit = layui.layedit;
        layedit.set({
            uploadImage:{
                url:"{:url('articleUpimage')}",
            }, uploadVideo: {
                url: "{:url('articleUpVideo')}",
                size: '204800'
            },
            tool: [
                'html','code'
                , 'strong', 'italic', 'underline', 'del',
                ,'addhr' //添加水平线
                ,'|', 'fontFomatt','colorpicker' //段落格式，字体颜色
                , 'face', '|', 'left', 'center', 'right', '|', 'link', 'unlink'
                , 'image_alt', 'altEdit', 'video'
                ,'anchors' //锚点
                , '|', 'fullScreen'
            ]
        })

        content = layedit.build('artcontent', {
            height: 600
        });

        var upload = layui.upload;

        var uploadInst = upload.render({
            elem: '#upimage'
            ,field:"image"
            ,url: "{:url('articleUpimage/image')}"
            ,done: function(res){
                var path = res.data.src;
                var img = "<img src='"+path+"' />";
                $$("#imageurl").val(path);
                $$("#img").html(img);
            }
        });

        laydate = layui.laydate;

        laydate.render({
            elem: '#recruit_time',range: true,
            value:'{$info.recruit_time_start} - {$info.recruit_time_end}'
        });

        laydate.render({
            elem: '#activity_time',
            type: 'datetime'
            ,range: true,
            value:'{$info.activity_time_start} - {$info.activity_time_end}'
        });

        /*var serviceid = ('{$info.service_id}');
        var arr = serviceid.split('-');
        var service ;
        for (v in arr){
            if(arr[v])
                service = arr[v]
        }*/

      /* var service;
        $$('select[name=service_id]').children().each(function(index,item){
                if ( $$(this).text() =='{$info.service_id}') {
                    service =index
                }
        });*/

        var num_ = 0
        if ('{$info.regist_auth}' == '对外开放'){
            num_ =1;
        }

       // form.val("formTest", {'service_id':service,'area':'{$info.area}','regist_auth':num_});
        form.val("formTest", {'area':'{$info.area}','regist_auth':num_});

        layedit.setContent(content, '{:htmlspecialchars_decode($info.content)}');

        form.on('submit(formSubmit)', function(data){

            var JsonVal =data.field;

            JsonVal.content = layedit.getContent(content);
            JsonVal.service_id = '{$info.service_id}';
            JsonVal.privil = '{$info.privil}';

            $$.ajax({
                method: 'POST',
                url: "{:url('editOrgAct',['id'=>$info.Id])}",
                data: JsonVal,
                dataType: 'json',
                success: function (res) {
                    if (res.code) {
                        alert('提交成功');
                    } else {
                        alert('提交失败');
                    }
                }
            })

            return false;
        });

    });

    $$('#sys').addClass('mdui-collapse-item-open');
    $$('#Project').addClass('mdui-list-item-active');

</script> {/block}