{extend name="public/index_ext"}
{block name="Header_0"}
<div class="ub">
    <div class="nav-btn" id="nav-left">
        <div class="fa fa-1g  fa-2x bc-text-head">
        </div>
    </div>
    <h1 class="ut ub-f1 ulev-3 ut-s tx-c bc-text-head" tabindex="0">品牌项目</h1>
    <div class="nav-btn" id="nav-right">
        <div class="fa  fa-1g  ub-img1">
        </div>
    </div>
</div>
{/block}
{block name="Pane_0"}
<div class="active" style="min-height:3.5em;"></div>
{/block}
{block name="ScrollContent_Pa34I9"}{/block}
{block name="Pane_1"}{/block}
{block name="Pane_2"}
<div class="ub ub-ver" id="me">

    <div class="ub ub-ver ub-f1 ub-pc ubr b-gra-per">
        <div class="t-gra5 ulev-4 tx-c ub-f1">
           <!-- 服务类型介绍-->
        </div>
    </div>

    <div class="ub" data-control="BOX" id="Box_ImXwIJ">
        <div class="ub ub-f1 ub-ver" data-control="BOX" data-bind="">
            <ul id="group">
                <li class="ubb ub bc-border bc-text ub-ac lis"  data-index="0">

                    <div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                        <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=22"> 西部计划</a></b>
                    </div>
                </li>
                <li class="ubb ub bc-border bc-text ub-ac lis"  data-index="0">

                        <div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                            <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=40"> 起跑线计划</a></b>
                        </div>
                </li>
                <li class="ubb ub bc-border bc-text ub-ac lis"  data-index="0">

                    <div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                        <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=39"> 温暖过年</a></b>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<style>.zhy_bg{opacity:1 !important;}.loader_confirm{top:-9em!important;height: 200% !important;position:absolute !important;}
.umar-r{width:2em;height:2em;}
</style>


{/block}

{block name="js"}
<script>
    $('#Pane_2').removeAttr('data-control').removeClass('tab_pane').attr('style','');
</script>
{/block}