{include file="public/head"}
<link rel="stylesheet" href="__CSS__/content.css">
</head>
<body class="" ontouchstart>
<div class="bc-bg" tabindex="0" data-control="PAGE" id="Page">
    <div class="uh bc-head  ubb bc-border" data-control="HEADER" id="Header">
        <div class="ub">
            <div class="nav-btn" id="nav-left">
                <div class="fa fa-1g ub-img1 fa-angle-left fa-2x bc-text-head"></div>
            </div>
            <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">湘西志愿者服务平台</h1>
            <div class="nav-btn" id="nav-right">
                <div class="fa  fa-1g  ub-img1"></div>
            </div>
        </div>
    </div>
    <div class="" data-control="CONTENT" id="ScrollContent">
        <div class="scrollbox">

            <div class="ub ub-ver ub-fv">
                <div class="ub ub-ver uh-det1 ub-fh detban" >
                        <img src="{$info.image}" width="100%">
                </div>
                <div class="ubb bc-border uinn-a1 c-wh ulev0" style="text-align:center;"><b>{$info.title}</b></div>
                <div class="ubb ubt bc-border umar-at1 uinn-a1 c-wh">
                    <div class=" line-hei ulev-1 t-gra-4e">状态:{:projectStatus($info.status,$info.recruit_time_start,$info.recruit_time_end,$info.activity_time_start,$info.activity_time_end)}</div>
                </div>
                <div class="ub ub-ver ubt ubb bc-border umar-at1 uinn-a2 c-wh">
                    <div class="ub  bc-border uinn-det3 ub-ac">
                        <div class="t-gra-4e ulev-1 ub-f1">招募时间:{$info.recruit_time_start} - {$info.recruit_time_end}</div>
                    </div>
                    <div class="ub  uinn-det3 ub-ac">
                        <div class="t-gra-4e ulev-1 ub-f1">活动时间:{$info.activity_time_start} - {$info.activity_time_end}</div>

                    </div>
                </div>

                <div class="ub ubb ubt bc-border umar-at1 uinn-det2 c-wh ub-ac">
                    <div class="t-gra-4e ulev-1 ub-f1">服务类型：{$info.service_id}</div>
                </div>

                <div class=" ubt bc-border umar-at1 uinn-a1 c-wh">
                    <div class=" line-hei ulev-1 t-gra-4e">详细内容：{:htmlspecialchars_decode($info.content)}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="uf sc-bg ubt sc-border-tab ub ub-ac" data-control="FOOTER" id="Footer">
        <div class="button ub-f1 ub ub-ac bc-text-head ub-pc bc-btn" id="button" >我要报名</div>
    </div>
</div>
{include file="public/footer"}
<script>



    appcan.button("#button", "ani-act", function() {


        var _id = {$info.Id};


       if (typeof(u)!='undefined') {

           if (typeof(u.org_name)=='undefined' && typeof(u.uId)!='undefined') {
               $.ajax({
                   type: "GET",
                   url: "/mobile/index/enroll",
                   data: {'uid':u.uId,'id':_id},
                   success: function(data){

                       if (data.code) {
                           appcan.window.alert({
                               title: "提示",
                               content: data.data
                           });
                       }else{
                           appcan.window.alert({
                               title : "提示",
                               content : "报名成功"
                           });
                       }
                   },
                   error:function(e){
                       appcan.window.alert({
                           title : "提示",
                           content : "报名失败"
                       });
                   }
               });

           }else{
               appcan.window.alert({
                   title : "提示",
                   content : "组织团队账号不能报名"
               });
           }

       }else{

           appcan.window.alert({
               title : "提示",
               content : "请登陆账号报名"
           });
       }

    });
</script>
</body>
</html>