{include file="public/head"}
<link rel="stylesheet" href="__CSS__/index.css">
</head>

<body class="" ontouchstart>

    <div class="uh bc-head  ubb bc-border header" data-control="HEADER" id="Header_0">
        <div class="ub">
            <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">湘西志愿者服务平台</h1>
        </div>
    </div>
    <div class="uh ub ub-f1 ub-pc ub-ac uhide header bc-head" data-control="HEADERBOX" id="Header_1" style="position:relative;">
        <div class="uinput ub bc-border uba ub-f1 umar-l umar-r" data-control="SEARCH" id="Search">
            <div class="uinn fa fa-search sc-text"></div>
            <input placeholder="请输入关键词" type="search" class="ub-f1 ub ub-pc ub-ac" data-control-scope="Search">
        </div>
        <div class="ub ub-ac ub-pc ub-img1 umar-r" data-control="ICON" id="Icon">
            <div class="fa" data-control-icon=""></div>
        </div>
    </div>

    <div class="uh bc-head  ubb bc-border uhide header" data-control="HEADER" id="Header_2">
        <div class="ub">
            <div class="nav-btn" id="nav-left">
                <div class="fa fa-1g ub-img1"></div>
            </div>
            <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">我的账户</h1>
            <div class="nav-btn" id="nav-right">
                <div class="ub-img1 icon-setting ulev2"></div>
            </div>
        </div>
    </div>
    <div class="uh ub ub-pc ub-ac uhide header bc-head" data-control="HEADERBOX" id="Header_3">
        <div class="ub-f1 ub-ac ub-pc uinn">
            <div class="ub uc-a1  b-wh uba1 tx-c">
                <input type="radio" name="rdi1" class="uhide" value="" checked="true">
                <div onclick="appcan.elementFor(event)" class="uinn-a15 ub-f1 rdi ubb-pic ulev-4 t-blu2 bc-head" style="margin-left:.2em">
                    全部商品(3)
                </div>
                <input type="radio" name="rdi1" class="uhide" value="">
                <div onclick="appcan.elementFor(event)" class="uinn-a15 c-blu ub-f1 rdi ulev-4 t-wh ubb-pic b-wh bc-head">
                    降价商品
                </div>
                <input type="radio" name="rdi1" class="uhide" value="">
                <div onclick="appcan.elementFor(event)" class="uinn-a15 c-blu ub-f1 rdi ulev-4 t-wh bc-head" style="margin-right:.2em">
                    库存紧张(0)
                </div>
            </div>
        </div>
    </div>
    <div class="tab_pane active" data-control="PANE" id="Pane_0">
        <div class="ub ub-ver ub-fv">
            <!--top-->
            <div class="ub-fh" style="z-index:100;">
                <div class="uinn-a1">

                </div>
            </div>
            <div id='' class='ub-fh t-bla uof' style="margin-top:1.2em;">
                <div id='slider' class='slider'></div>

            </div>
            <!--content-->
            <div class="ub ub-ver">
                <div class="ub ub-ver">
                    <div class="ub" style="width:100%">
                        <div class="ub-f1 ub ub-ver ub-ac ubr ubb" style="width:33%;padding-bottom: 0.6em;">
                            <div class="uwh-ele2 uc-a-ele1 c-wh ub ub-ac ub-pc">
                                <div class="btn_wh1 ub-img eleIcon1"></div>
                            </div>
                            <div class="umar-at1 t-gra7 tx-c ulev-2">
                                最新动态
                            </div>
                        </div>
                        <div class="ub-f1 ub ub-ac ub-ver ubr ubb" style="width:33%" id="signIn">
                            <div class="uwh-ele2 uc-a-ele1 c-wh ub ub-ac ub-pc">
                                <div class="btn_wh1 ub-img eleIcon2"></div>
                            </div>
                            <div class="umar-at1 t-gra7 tx-c ulev-2" >
                                <a href="{:url('moblielogin')}">志愿者登陆</a>
                            </div>
                        </div>
                        <div class="ub-f1 ub ub-ac ub-ver ubb" style="width:33%">
                            <div class="uwh-ele2 uc-a-ele1 c-wh ub ub-ac ub-pc">
                                <div class="btn_wh1 ub-img eleIcon3"></div>
                            </div>
                            <div class="umar-at1 t-gra7 tx-c ulev-2">
                                <a href="/mobile/index/orgReg">志愿团体注册</a>
                            </div>
                        </div>

                    </div>
                    <div class="ub" style="width:100%;border-bottom:10px solid #eee;">
                        <div class="ub-f1 ub ub-ver ub-ac ubr ubb" style="width:33%;padding-bottom: 0.6em;">
                            <div class="uwh-ele2 uc-a-ele1 c-wh ub ub-ac ub-pc">
                                <div class="btn_wh1 ub-img eleIcon4"></div>
                            </div>
                            <div class="umar-at1 t-gra7 tx-c ulev-2">
                                志愿项目
                            </div>
                        </div>
                        <div class="ub-f1 ub ub-ac ub-ver ubr ubb" style="width:33%">
                            <div class="uwh-ele2 uc-a-ele1 c-wh ub ub-ac ub-pc">
                                <div class="btn_wh1 ub-img "></div>
                            </div>
                            <div class="umar-at1 t-gra7 tx-c ulev-2">
                               <!-- <a href="https://share.0743sh.com/wap/login/register?url=https%3A%2F%2Fshare.0743sh.com%2F">志愿者注册</a>-->
                            </div>
                        </div>
                        <div class="ub-f1 ub ub-ac ub-ver ubb" style="width:33%">
                            <div class="uwh-ele2 uc-a-ele1 c-wh ub ub-ac ub-pc">
                                <div class="btn_wh1 ub-img "></div>
                            </div>
                            <div class="umar-at1 t-gra7 tx-c ulev-2">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="scrollbox sc-bg" data-control="CONTENT" id="ScrollContent_Pa34I9">
                <div id="celltemplate" style="display:none">
                    <li  class="ubb ub bc-border t-bla ub-ac lis uof" data-index="0">
                        <ul class="ub ub ub-ver">
                            <li class="">
                                <div class="lazy lis-icon ub-img" data-original="css/res/appcan_s.png" style="background-image:url(__IMG__/gqt.png)"></div>
                                <div class="ulev-1 bc-text umar-t"></div>
                            </li>
                        </ul>
                        <ul class="ub-f1 ub ub-pj ub-ac">
                           <a class="ub ub-ver" href="/mobile/index/details/?id=#id#">
                               <ul class="ub-f1 ub ub-ver marg-l">
                                <li class="bc-text ub ub-ver uof ut-m line1">#title#</li>
                                <li class="ulev-1 uof sc-text1 uinn3 line1" >#summary#</li>
                                <li class="ulev-2 sc-text1 uinn3">#service_id#</li>
                            </ul>
                           </a>
                        </ul>
                        <ul><li class="zm"></li></ul>
                    </li>
                </div>
                <ul id="divscroll">
                   <!-- <li id="1" class="ubb ub bc-border t-bla ub-ac lis uof" data-index="0">
                        <ul class="ub ub ub-ver">
                            <li class="">
                                <div class="lazy lis-icon ub-img" data-original="css/res/appcan_s.png" style="background-image:url(__IMG__/gqt.png)"></div>
                                <div class="ulev-1 bc-text umar-t"></div>
                            </li>
                        </ul>
                        <ul class="ub-f1 ub ub-pj ub-ac">
                            <ul class="ub-f1 ub ub-ver marg-l">
                                <li class="bc-text ub ub-ver ut-m line1">临时数据</li>
                                <li class="ulev-1 sc-text1 uinn3">测试 </li>
                                <li class="ulev-2 sc-text1 uinn3">测试</li>
                            </ul>
                        </ul>
                        <ul><li class="zm"></li></ul>
                    </li>
                    <li id="3" class="ubb ub bc-border t-bla ub-ac lis uof" data-index="3">
                        <ul class="ub ub ub-ver">
                            <li class="">
                                <div class="lazy lis-icon ub-img" data-original="css/res/appcan_s.png" style="background-image:url(__IMG__/gqt.png)"></div>
                                <div class="ulev-1 bc-text umar-t"></div>
                            </li>
                        </ul>
                        <ul class="ub-f1 ub ub-pj ub-ac">
                            <ul class="ub-f1 ub ub-ver marg-l">
                                <li class="bc-text ub ub-ver ut-m line1">临时数据</li>
                                <li class="ulev-1 sc-text1 uinn3">测试 </li>
                                <li class="ulev-2 sc-text1 uinn3">测试</li>
                            </ul>
                        </ul>
                        <ul><li class="zm"></li></ul>
                    </li>
                    <li id="4" class="ubb ub bc-border t-bla ub-ac lis uof" data-index="3">
                        <ul class="ub ub ub-ver">
                            <li class="">
                                <div class="lazy lis-icon ub-img" data-original="css/res/appcan_s.png" style="background-image:url(__IMG__/gqt.png)"></div>
                                <div class="ulev-1 bc-text umar-t"></div>
                            </li>
                        </ul>
                        <ul class="ub-f1 ub ub-pj ub-ac">
                            <ul class="ub-f1 ub ub-ver marg-l">
                                <li class="bc-text ub ub-ver ut-m line1">临时数据</li>
                                <li class="ulev-1 sc-text1 uinn3">测试 </li>
                                <li class="ulev-2 sc-text1 uinn3">测试</li>
                            </ul>
                        </ul>
                        <ul><li class="zm"></li></ul>
                    </li>

                    <li id="5" class="ubb ub bc-border t-bla ub-ac lis uof" data-index="3">
                        <ul class="ub ub ub-ver">
                            <li class="">
                                <div class="lazy lis-icon ub-img" data-original="css/res/appcan_s.png" style="background-image:url(__IMG__/gqt.png)"></div>
                                <div class="ulev-1 bc-text umar-t"></div>
                            </li>
                        </ul>
                        <ul class="ub-f1 ub ub-pj ub-ac">
                            <ul class="ub-f1 ub ub-ver marg-l">
                                <li class="bc-text ub ub-ver ut-m line1">临时数据</li>
                                <li class="ulev-1 sc-text1 uinn3">测试 </li>
                                <li class="ulev-2 sc-text1 uinn3">测试</li>
                            </ul>
                        </ul>
                        <ul><li class="zm"></li></ul>
                    </li>

                    <li id="6" class="ubb ub bc-border t-bla ub-ac lis uof" data-index="3">
                        <ul class="ub ub ub-ver">
                            <li class="">
                                <div class="lazy lis-icon ub-img" data-original="css/res/appcan_s.png" style="background-image:url(__IMG__/gqt.png)"></div>
                                <div class="ulev-1 bc-text umar-t"></div>
                            </li>
                        </ul>
                        <ul class="ub-f1 ub ub-pj ub-ac">
                            <ul class="ub-f1 ub ub-ver marg-l">
                                <li class="bc-text ub ub-ver ut-m line1">临时数据</li>
                                <li class="ulev-1 sc-text1 uinn3">测试 </li>
                                <li class="ulev-2 sc-text1 uinn3">测试</li>
                            </ul>
                        </ul>
                        <ul><li class="zm"></li></ul>
                    </li>-->

                </ul>


    </div>

    <div class="tab_pane" data-control="PANE" id="Pane_1">
        <div id="showGoods"></div>
    </div>
    <div class="tab_pane " data-control="PANE" id="Pane_2" style="margin-top:4em">
        <div class="ub ub-ver uhide" id="me">
            <div class="ub-img1 perBg uh-per1 ub-fh ub ub-ver">
                <div class="uinn-a1 ub ub-f1">
                    <div class="uwh-per2 uc-a-per1 bc-bg ub ub-ac ub-pc uinn-a16">
                        <div class="ub-fh ub-fv  ub-img setImg1 uc-a-per2" id="avatar"> </div>
                    </div>
                    <div class="ub-f1 umar-at1 umar-l-per1 ub ub-ver">
                        <div class="ub ">
                            <div class="umar-ar3" id="orgname">
                                {$me.username}
                            </div>
                            <div class="sc-bg-alert uc-a1 uinn3 ulev-2 bc-text-head" id="status">
                                {$me.status}
                            </div>
                        </div>
                        <div class="ulev-4 t-wh2 umar-t ub-f1">
                            个性签名
                        </div>
                        <div class="ub ub-ae" id="hid1">
                            <div class="ub ub-ae umar-r-per1">
                                <div class="ulev-4" >
                                    服务时长
                                </div>
                                <div class="ulev0 ufm1 umar-l ufsty">
                                    {$me.length_ser}
                                </div>
                            </div>
                            <div class="ub ub-ae">
                                <div class="ulev-4">
                                    服务星级
                                </div>
                                <div class="ulev0 ufm1 umar-l ufsty sc-text-warn">
                                    0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ub c-wh-per uinn-a11 ub-ae" id="hid">
                    <div class="ub ub-ver ub-f1 ub-pc ubr b-gra-per">
                        <div class="t-gra5 ulev-4 tx-c ub-f1">
                            正在参加的项目
                        </div>
                        <div class="ub-ae sc-text-warn ufm1 tx-c">
                            0
                        </div>
                    </div>
                    <div class="ub ub-ver ub-f1 ub-pc ubr b-gra-per">
                        <div class="t-gra5 ulev-4 tx-c ub-f1">
                            已参加的项目
                        </div>
                        <div class="ub-ae t-gra5 ufm1 tx-c">
                            0
                        </div>
                    </div>
                    <!--<div class="ub ub-ver ub-f1 ub-pc ubr b-gra-per">
                        <div class="t-gra5 ulev-4 tx-c ub-f1">

                        </div>
                        <div class="ub-ae sc-text-warn ufm1 tx-c">
                            2
                        </div>
                    </div>
                    <div class="ub ub-ver ub-f1 ub-pc ubr b-gra-per">
                        <div class="t-gra5 ulev-4 tx-c ub-f1">

                        </div>
                        <div class="ub-ae t-gra5 ufm1 tx-c">
                            0
                        </div>
                    </div>
                    <div class="ub ub-ver ub-f1 ub-pc">
                        <div class="t-gra5 ulev-4 tx-c ub-f1">

                        </div>
                        <div class="ub-ae sc-text-warn ufm1 tx-c">
                            2
                        </div>
                    </div>-->
                </div>
            </div>
           <!-- <div class="ub-f1 ub ub-ver">
                <div id="indexCon_2-listview1"  class="ubt bc-border c-wh">

                </div>
                <div id="indexCon_2-listview2"  class="ubt bc-border c-wh umar-at1">

                </div>
                <div id="indexCon_2-listview3"  class="ubt bc-border c-wh umar-at1">

                </div>
                <div id="indexCon_2-listview4"  class="ubt bc-border c-wh umar-at1">

                </div>

            </div>-->
        </div>
    </div>
    <div class="tab_pane" data-control="PANE" id="Pane_3">
        <div class="ub ub-ver">
            <div class="ub ub-ver">
                <div id="indexCon_3-listview1"  class="ubt bc-border">
                </div>
                <div class="uinn-a7">
                    <div class="uinn-a1 ub ub-ac">
                        <div class="checkbox umar-r">
                            <input type="checkbox" class="uabs ub-con not-btn">
                        </div>
                        <div class="uh-app1 uw-app2 mar-ar1 ub-img" style="background-image:url('index/css/myImg/scImg1.png');"></div>
                        <div class="ub-f1 ub-pe ub ub-ac">
                            <div class="ub ub-ver umar-r-esc2 ub-pe">
                                <div class="ulev-app1 sc-text-warn tx-r">
                                    ￥195
                                </div>
                                <div class="ulev-4 ub-ae tx-r umar-at2 sc-text">
                                    x1
                                </div>
                            </div>
                            <div class="uba uc-a-app1 bc-border uinput uwh-pSC1 umar-r-esc c-wh">
                                <input placeholder="2"  type="text" class="uinn-pSC3 t-bla tx-c">
                            </div>
                            <div class="uwh-esc umar-r-esc ub-img share"></div>
                            <div class="uwh-esc ub-img del"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ub ub-ver c-wh umar-at2 b-gra-d6 ubt c-wh">

                <div id="indexCon_3-listview2"  class="ubt bc-border sc-bg c-wh">

                </div>
                <div class="uinn-a7">
                    <div class="uinn-a1 ubb b-gra-d6 ub ub-ac">
                        <div class="checkbox umar-r">
                            <input type="checkbox" class="uabs ub-con not-btn">
                        </div>
                        <div class="uh-app1 uw-app2 mar-ar1 ub-img" style="background-image:url('index/css/myImg/scImg2.png');"></div>
                        <div class=" ub-f1 ulev-1 mar-ar1">
                            情人节礼物礼物礼物怡吻手工松露巧克力情人节...
                        </div>
                        <div class="ub ub-ver ub-ac">
                            <div class="ub-f1 ub-ac sc-text-warn ufm1 ulev-4">
                                ￥19.5
                            </div>
                            <div class="ub-f1 ub-ac sc-text ufm1 ulev-2 utx-de">
                                ￥29.5
                            </div>
                        </div>
                    </div>
                    <div class="uinn-a1 ub ub-ac ubb b-gra-d6">
                        <div class="checkbox umar-r">
                            <input type="checkbox" class="uabs ub-con not-btn">
                        </div>
                        <div class="uh-app1 uw-app2 mar-ar1 ub-img" style="background-image:url('index/css/myImg/scImg3.png');"></div>
                        <div class=" ub-f1 ulev-1 mar-ar1">
                            情人节礼物礼物礼物怡吻手工松露巧克力情人节...
                        </div>
                        <div class="ub ub-ver ub-ac">
                            <div class="ub-f1 ub-ac sc-text-warn ufm1 ulev-4">
                                ￥19.5
                            </div>
                            <div class="ub-f1 ub-ac sc-text ufm1 ulev-2 utx-de">
                                ￥29.5
                            </div>
                        </div>
                    </div>
                    <div class="ub ub-ac uinn-a1 ub-ac">
                        <div class="ub-f1 ub-pe tx-r ub">
                            <span class="t-gra5 ulev-4">商品合计：</span><span class="sc-text-warn ufm1 ulev-app1">￥198</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="uf sc-bg ubt sc-border-tab ub-f1 ub" data-control="FOOTER" id="Footer">
    <div class="ub-f1 ub" data-control="TAB" id="Tab"></div>
</div>

<script src="__JS__/appcan.js"></script>
<script src="__JS__/appcan.control.js"></script>
<script src="__JS__/appcan.listview.js"></script>
<script src="__JS__/template.import.js"></script>
<script src="__JS__/appcan.tab.js"></script>
<script src="__JS__/appcan.slider.js"></script>
<script src="__JS__/index.js"></script>
<script src="__JS__/iscroll.js"></script>
<script>
    var UseIScrollHelper = {
        myScroll: null,  //iScroll对象
        scrollId: 'divscroll',//默认scrollid
        wrapperId: 'ScrollContent_Pa34I9',//默认wrapperid
        fillList: null,  //对应的回调函数
        isMore: false,   //是否可刷新标记
        isNoData: false, //是否无数据
        isLoading: false,//是否加载数据中
        isUsePage: true,  //是否使用分页
        headAndBottomHeight:90,    //顶部预留高度
        pageIndex: 0,
        pageSize: 10,
        url: '',
        datas: '',
        //显示空文本提示
        checkIsScrollEmptyAndTiShi: function () {
            if ($("#" + this.scrollId).html().trim() === "") {
                this.isNoData = true;
                this.showEmptyTiShi("#" + this.scrollId, "暂无数据");
                $("#" + this.scrollId).css("min-height", "0px");
                $("#" + this.scrollId).height("");
            }
        },
        //空列表时显示提示信息
        showEmptyTiShi: function (target, description) {
            try  {
                var tishi = "<div>无数据</div>";
                $(target).html(tishi);
            }
            catch (e) { alert(e); }
        },
        //设置ScrollHeight
        setScrollHeight: function () {
            var temp_height = 0;
            temp_height = $("#"+this.wrapperId).height();
            try {
                var showHeight = (window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight) - this.headAndBottomHeight;
                if (temp_height !== showHeight)
                    temp_height = showHeight;
            }
            catch (e) { ; };
            $("#" + this.wrapperId).height(temp_height);
            if (!this.isNoData)//有数据
            {
                $("#" + this.scrollId).css("min-height", temp_height + 1);
                $("#" + this.scrollId).height("");
            } else {//无数据
                $("#" + this.scrollId).css("min-height", 0);
                $("#" + this.scrollId).height("");
            }
            if (this.myScroll === undefined || this.myScroll === null) this.loadSroll();

            else this.myScroll.refresh(); // 动态添加数据后 刷新iscroll
        },
        //清空数据
        clearData: function () {
            $("#" + this.scrollId).html("");
            $("#" + this.scrollId).css("min-height", 0);
            $("#" + this.scrollId).height("");
            if (this.myScroll === undefined || this.myScroll === null) this.loadSroll();
            else this.myScroll.refresh();
        },
        //加载Iscroll
        loadSroll: function () {
            setTimeout(function (obj) {
                obj.myScroll = new IScroll("#" + obj.wrapperId, { click: true });
                obj.myScroll.on('scrollStart', function () {
                    document.activeElement.blur();
                });
                obj.myScroll.on('scrollEnd', function () {

                    if (obj.isMore === false) {
                        obj.setScrollHeight();
                        return;
                    }
                    if (this.y <= this.maxScrollY) {
                        if (obj.isMore === false) {
                            obj.setScrollHeight();
                            this.refresh();
                            return;
                        }
                        if (obj.getData !== null) {
                            obj.getData();
                        }
                        this.refresh();
                    } else {
                        this.refresh();
                    }
                });
            }, 100,this);
        },

        getData: function () {
            try {
                if (this.isLoading) return;
                if (this.isNoData) return;
                this.isLoading = true;
                var obj = this;
                var url = this.url;

                if (this.isUsePage) {
                    url = url + "/" + this.pageIndex;
                }
                $.ajax({
                    url: url,
                    type: "post",
                    dataType: "json",
                    data: this.datas,
                    success: function (p_datas) {
                      //   nologinDeal(p_datas);
                        if (p_datas.result === "success") {
                            if (obj.fillList !== null)
                                obj.fillList(p_datas.datas);
                            if (obj.isUsePage) {
                                if (p_datas.isMore === "True") {
                                    obj.pageIndex = obj.pageIndex + 1;
                                    obj.isMore = true;
                                }
                                else{
                                    obj.isMore = false;
                                }
                            }
                        }
                        obj.checkIsScrollEmptyAndTiShi();
                      //   hideLoadding();
                        obj.setScrollHeight();
                        obj.isLoading = false;
                    },
                    fail: function () {
                        obj.checkIsScrollEmptyAndTiShi();
                        obj.setScrollHeight();
                        obj.isLoading = false;
                    }
                });
            }
            catch (e) {
                this.checkIsScrollEmptyAndTiShi();
                this.setScrollHeight();
                this.isLoading = false;
            }

        }

    };

    window.onload = function () {
        mobanhtml = $('#celltemplate').html();
        UseIScrollHelper.fillList = FillList;
        UseIScrollHelper.url = "/mobile/readAct";
        UseIScrollHelper.datas = "";
        UseIScrollHelper.getData();
    }
    function FillList(listdata) {
        for (var i = 0; i < listdata.length; i++) {
            var datas = listdata[i];

            var inserthtml = mobanhtml.replace("#title#", datas.title);
               inserthtml = inserthtml.replace("#summary#", datas.summary);
               inserthtml = inserthtml.replace("#service_id#", datas.service_id);
               inserthtml = inserthtml.replace("#id#", datas.Id);
            $('#divscroll').append(inserthtml);
        }
    }

    var u = JSON.parse(appcan.locStorage.val('userInfo'));
    function tabIndex(index) {
        $('.tab_pane').removeClass('active');
        $($('.tab_pane')[index]).addClass('active');
        $('.header').addClass('uhide');
        $($('.header')[index]).removeClass('uhide');
        tabview_Tab.moveTo(index);

    }
    (function($) {
        if (typeof(u)!='undefined' && typeof(u.org_name)!='undefined') {
            $("#avatar").html('<img width="64" style="position:relative;' + 'left: -10px;' + 'top:-10px;" src="'+u.logo_url+'" />');
            $("#me").removeClass('uhide');
            $("#hid,#hid1").remove();
            $("#status").html(u.status);
            $("#orgname").html(u.org_name);
            $.ajax({
                type: "POST",
                url: "/mobile/index/getStatus",
                data: {'id':u.org_id},
                success: function(data){
                    $("#status").html(data);
                }
            });

        }else{
            $("#avatar").html('<img  src="http://www.07430743.com/uc_server/avatar.php?uid='+u.user_id+'&size=small" />');
            $("#me").removeClass('uhide');
        }

        var url = window.location.href.split('/');
        if (url[url.length-1]=='me'){
            tabIndex(2);
            $("#ScrollContent_Pa34I9").addClass('uhide');
        }

    })($);
</script>
</body>
</html>