{extend name="public/index_ext"}
{block name="Header_0"}
<div class="ub">
    <div class="nav-btn" id="nav-left">
        <div class="fa fa-1g ub-img1 fa-angle-left fa-2x bc-text-head">
        </div>
    </div>
    <h1 class="ut ub-f1 ulev-3 ut-s tx-c bc-text-head" tabindex="0">最新动态</h1>
    <div class="nav-btn" id="nav-right">
        <div class="fa  fa-1g  ub-img1">
        </div>
    </div>
</div>
{/block}
{block name="Pane_0"}
<div class="tab_pane active" style="min-height:3em;"></div>
{/block}
{block name="Pane_1"}{/block}
{block name="Pane_2"}{/block}
{block name="js"}
<style>#divscroll   .ub-img{ width: 10em !important;}</style>
<script>

    function nologinDeal(){
        $('#divscroll').append('<div id="loading">正在加载中。。。</div>');
    }

    function hideLoadding() {
        $('#loading').remove();
    }

    window.onload = function () {
        mobanhtml = $('#celltemplate').html();
        UseIScrollHelper.fillList = FillList;
        UseIScrollHelper.url = "/mobile/readNews";
        UseIScrollHelper.datas = "";
        UseIScrollHelper.getData();
        UseIScrollHelper.loadSroll();

    }

    function FillList(listdata) {
        var l =listdata.length;

        if(!l)
            return alert('暂无数据');

        for (var i = 0; i < l ; i++) {
            var datas = listdata[i];

            var inserthtml = mobanhtml.replace("#title#", datas.title);
            inserthtml = inserthtml.replace("#summary#", datas.summary);
            inserthtml = inserthtml.replace("#details#", 'content');
            inserthtml = inserthtml.replace("#id#", datas.Id)
            if(datas.image){
                inserthtml = inserthtml.replace("#url#", datas.image);
            }else{
                $('#imgurl').hide();
            }

            $('#divscroll').append(inserthtml);
        }
    }



    (function($) {

        $('#service_id').hide();

    })($);
</script>
{/block}