{extend name="public/index_ext"}
{block name="Header_0"}
<div class="ub">
    <div class="nav-btn" id="nav-left">
        <div class="fa fa-1g ub-img1 fa-angle-left fa-2x bc-text-head"></div>
    </div>
    <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">加入团队</h1>
    <div class="nav-btn" id="nav-right">
        <!--<div class="ub-img1 icon-setting ulev2"></div>-->
    </div>
</div>
{/block}
{block name="Header_1"}{/block}
{block name="Header_2"}{/block}
{block name="Pane_0"}{/block}
{block name="ScrollContent_Pa34I9"}{/block}
{block name="Pane_1"}{/block}
{block name="Pane_2"}
<div class="ub ub-ver" id="me">
    <div class="ub-img1 perBg ub-fh ub ub-ver">
        <div class="ub c-wh-per uinn-a11 ub-ae" id="hid">
            <div class="ub ub-ver ub-f1 ub-pc ubr b-gra-per">
                <div class="t-gra5 ulev-4 tx-c ub-f1">
                    加入团队
                </div>
            </div>
        </div>
    </div>
    <div class="ub" data-control="BOX" id="Box_ImXwIJ">

            <div class="ub ub-f1 ub-ver" data-control="BOX" data-bind="">
                <ul id="org_ul">
                    {volist  name='group'  id='v'}
                    <li class="ubb ub bc-border bc-text ub-ac lis"  data-index="0"><div class="checkbox2 umar-r umar-l{$v['level']}"><input type="checkbox" id="{$v['Id']}" class="uabs ub-con"></div><div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">{$v['org_name']}</div></li>
                    {/volist}
                </ul>

                <input type="button" value="提交" id="save_org" class="save">
            </div>

    </div>

    <div class="ub-f1 ub ub-ver">


    </div>
</div>
{/block}
{block name="js"}
<script>

    (function($) {
        $('#Pane_2').removeClass('tab_pane');
        $('#save').click(function(){

                arrOrg = checkItems();
                if(!arrOrg){
                    return alert('只能选四个服务');
                }
                var l = arrOrg.length;
                if(l)
                    $.ajax({
                        type: "POST",
                        url: "/mobile/index/editService",
                        data: {'id':_u.uId,'service':arrOrg},
                        success: function(data){

                            alert(data.msg);
                            var ul =  $("#group").children();
                            for (var i =0;i<l;i++) {
                                $li = $(ul[arrOrg[i]-1]);
                                $checkbox = $li.find('input[type=checkbox]');
                                $checkbox.attr('disabled','disabled');
                            }

                        }
                    });



        });

    })($);
</script>
{/block}
