{extend name="public/index_ext"}
{block name="Header_0"}
<div class="ub">
    <div class="nav-btn" id="nav-left">
        <div class="fa fa-1g ub-img1 fa-angle-left fa-2x bc-text-head"></div>
    </div>
    <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">查找结果</h1>
    <div class="nav-btn" id="nav-right">
        <!--<div class="ub-img1 icon-setting ulev2"></div>-->
    </div>
</div>
{/block}
{block name="Header_1"}{/block}
{block name="Header_2"}{/block}
{block name="Pane_0"}{/block}
{block name="ScrollContent_Pa34I9"}
<style>
    #divscroll{margin-top: 3.2em;}
</style>
<ul id="divscroll">

    {volist name="list" id='s'}
        <li  class="ubb ub bc-border t-bla ub-ac lis uof" data-index="0">
            <ul class="ub ub ub-ver">
                <li class="">
                    <div class="lazy lis-icon ub-img" data-original="css/res/appcan_s.png" style="background-image:url(/static/images/gqt.png)"></div>
                    <div class="ulev-1 bc-text umar-t"></div>
                </li>
            </ul>
            <ul class="ub-f1 ub ub-pj ub-ac">
                <a class="ub ub-ver" href="/mobile/index/details/?id={$s['Id']}">
                    <ul class="ub-f1 ub ub-ver marg-l">
                        <li class="bc-text ub ub-ver uof ut-m line1">{$s['title']}</li>
                        <li class="ulev-1 uof sc-text1 uinn3 line1" >{$s['summary']}</li>
                        <li class="ulev-2  sc-text1 uinn3" id="service_id">{$s['service_id']}</li>
                    </ul>
                </a>
            </ul>
            <?php $ps = projectStatus($s['status'],$s['recruit_time_start'],$s['recruit_time_end'],$s['activity_time_start'],$s['activity_time_end']);?>
            <ul><li class="{if $ps=='招募中'} zm {elseif $ps=='进行中'} jxz {else} js {/if}"></li></ul>
        </li>
    {/volist}
    {if $list} {$list|raw} {else}  很抱歉没有查到数据 {/if}
</ul>
{/block}
{block name="Pane_2"}{/block}
{block name="js"}
<script>
    (function($) {
       // $('#Header_1').removeClass('uhide').attr('style','margin-top:3.2em;position:relative;margin-bottom:0.3em');

        UseIScrollHelper.setScrollHeight();

        appcan.button("#fa-search", "btn-act",function() {
            if ($("#Search_1").val())
                window.location.href="/mobile/index/search/key/"+$("#Search_1").val();
        });
    })($)

</script>


{/block}