{extend name="public/index_ext"}
{block name="Header_0"}
<div class="ub">
    <div class="nav-btn" id="nav-left">
        <div class="fa fa-1g  fa-2x bc-text-head">
        </div>
    </div>
    <h1 class="ut ub-f1 ulev-3 ut-s tx-c bc-text-head" tabindex="0">项目分类</h1>
    <div class="nav-btn" id="nav-right">
        <div class="fa  fa-1g  ub-img1">
        </div>
    </div>
</div>
{/block}
{block name="Pane_0"}
<div class="active" style="min-height:3.5em;"></div>
{/block}
{block name="ScrollContent_Pa34I9"}{/block}
{block name="Pane_1"}{/block}
{block name="Pane_2"}
<div class="ub ub-ver" id="me">

    <div class="ub ub-ver ub-f1 ub-pc ubr b-gra-per">
        <div class="t-gra5 ulev-4 tx-c ub-f1">
           <!-- 服务类型介绍-->
        </div>
    </div>

    <div class="ub" data-control="BOX" id="Box_ImXwIJ">
        <div class="ub ub-f1 ub-ver" data-control="BOX" data-bind="">
            <ul id="group">
                <li class="ubb ub bc-border bc-text ub-ac lis" id="1" data-index="0"><div class="umar-r"><img src="/static/images/5.jpg" width="100%"
                /></div><div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1"><b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=10">礼仪服务</a></b></div></li>

                <li class="ubb ub bc-border bc-text ub-ac lis" id="2" data-index="1"><div class="umar-r"><img src="/static/images/5.jpg" width="100%"/></div><div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                    <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=11">文明创建</a></b></div></li>

                <li class="ubb ub bc-border bc-text ub-ac lis" id="3" data-index="2"><div class="umar-r"><img src="/static/images/5.jpg" width="100%"/></div><div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                    <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=12">卫生健康</a></b></div></li>

                <li class="ubb ub bc-border bc-text ub-ac lis" id="4" data-index="3"><div class="umar-r"><img src="/static/images/5.jpg" width="100%"/></div><div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                    <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=13">爱心助学</a></b></div></li>

                <li class="ubb ub bc-border bc-text ub-ac lis" id="5" data-index="4"><div class="umar-r"><img src="/static/images/5.jpg" width="100%"/></div><div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                    <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=14">心理咨询</a></b></div></li>

                <li class="ubb ub bc-border bc-text ub-ac lis" id="6" data-index="5"><div class="umar-r"><img src="/static/images/5.jpg" width="100%"/></div><div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                    <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=16">疫情防控</a></b></div></li>

                <li class="ubb ub bc-border bc-text ub-ac lis" id="7" data-index="6"><div class="umar-r"><img src="/static/images/5.jpg" width="100%"/></div><div class="lv_title ub-f1 marg-l ub ub-ver ut-m line1">
                    <b>&nbsp;&nbsp;&nbsp;<a href="http://zyz.07430743.com/mobile/index/content/?id=15">应急救援</a></b></div></li>
            </ul>
        </div>
    </div>
</div>
<style>.zhy_bg{opacity:1 !important;}.loader_confirm{top:-9em!important;height: 200% !important;position:absolute !important;}
.umar-r{width:2em;height:2em;}
</style>


{/block}

{block name="js"}
<script>
    $('#Pane_2').removeAttr('data-control').removeClass('tab_pane').attr('style','');
</script>
{/block}